:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background: linear-gradient(160deg, white, indigo);
  height: 100vh;
  width: 100vw;
  cursor: default;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.scoreBoard {
  font-size: 32px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: fixed;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  background-color: white;
  padding: 10px;
  z-index: 1;
  transition: all 0.3s ease;
}

.scoreBoard.vertical {
  left: 0;
}

.scoreBoard.horizontal {
  border-radius: 10px 0 0 0;
  transform-origin: right bottom;
}

.scoreBoard:hover {
  opacity: 1;
}

.scoreBoard:not(:hover) {
  opacity: 0.8;
}

.scoreBoard.horizontal:hover {
  transform: scale(1.5);
}

.scoreBoard.horizontal:not(:hover) {
  transform: scale(1);
}

.currentPlayer {
  color: red;
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  padding: 5px;
  cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 2px solid #f00;
  border-radius: 10px;
}

[type="radio"]:not(:checked):hover + img {
  outline: 2px solid rgb(246, 148, 148);
  border-radius: 10px;
}

.modal {
  position: absolute;
  z-index: 10;
  top: 25%;
  left: 0%;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.modalBackdrop {
  /* height: 100vh;
  width: 100vw; */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 100, 0.5);
  z-index: 9;
}

label {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.settingCard {
  background-color: grey;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  width: 40px;
  height: 60px;
  text-align: left;
  font-size: small;
  position: absolute;
  transform-origin: center 500%;
}

.cardGroup {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.cardGroup:hover > div,
.cardGroup:has(~ div:hover) > div {
  background-color: rgb(88, 95, 174);
  border: 1px solid navy;
  color: navy;
  cursor: pointer;
  transition: all 0.2s ease;
}

.cardGroup:hover {
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.cardGroup:hover > .highlightCard,
.cardGroup:has(~ div:hover) > .highlightCard {
  background-color: rgb(64, 70, 143);
  border: 2px solid navy;
  color: navy;
}

.highlightCard {
  background-color: rgb(64, 70, 143);
  border: 2px solid indigo;
  color: indigo;
}

.cardSizer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: end; */
  height: 150px;
  width: 50px;
}

.cardSizer > h1 {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 42px;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-around;
  gap: 20px;
}

.optionText {
  font-size: 20px;
  font-weight: bold;
  color: black;
  height: 30px;
}

.settings {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.7s ease;
}

.settings:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
